
<table style=" background-color :lightgrey;" width="100%">
  <tr>
    <th>Life Journal</th>
    <!--<th><a class="nav-link" routerLink="home">Home</a></th>-->
    <th><a class="nav-link" routerLink="app-payments">Payments</a></th>
    <th><a class="nav-link" routerLink="app-wishlists">Wishlists</a></th>
    <th><a class="nav-link" routerLink="app-goals">Goals</a></th>
    <th><a class="nav-link" routerLink="app-currency-exchange">Currency exchange</a></th>
    <!--<th><a class="nav-link" routerLink="courses">Todo lists</a></th>-->
  </tr>
</table>

<router-outlet></router-outlet>

