<div>
  <label for="getDaysLbl">Get data from: </label>
  <br />
  <label for="endDate">Start date</label>
  <mat-form-field appearance="fill">
    <mat-label>Entry date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="this.startDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <label for="endDate">End date</label>
  <mat-form-field appearance="fill">
    <mat-label>Entry date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="this.endDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br />
  <button type="button" class="btn btn-default" (click)="getData()">get data</button>
</div>

<label for="DaysLbl"> days</label>
<div *ngIf="this.model">
  <div>
    <p> Date span of goal: {{this.model?.startDate | date:'yyyy-MM-dd' }} - {{this.model?.endDate | date:'yyyy-MM-dd'}}</p>
  </div>
  <table>
    <tr>
      <th></th>
      <th>goal</th>
      <th>completed</th>
      <th>goal %</th>
      <th>avg</th>
      <th>avg needed</th>
      <th>% needed to be done<br /> to current date</th>
      <th># needed to be done<br /> to current date</th>
      <th>days to 100%</th>
    </tr>
    <tr>
      <td>Repetitions</td>
      <td>{{this.model?.repetitionGoal}}</td>
      <td>{{this.model?.repetitionGoalDone}}</td>
      <td [ngStyle]="{'background-color': this.goalPercentageColor}">{{this?.goalPercentage | number}}%</td>
      <td [ngStyle]="{'background-color': this.avgGoalPercentageColor}">{{this.avgGoalPercentage | number}}</td>
      <td>{{this.avgRepetitionNeeded | number}}</td>
      <td rowspan="2">{{this?.goalPercentageToDate | number}}%</td>

      <td>{{this.repetitionGoalToDate | number : '1.0-0'}}</td>
      <td>{{this.daysToReachRepetitionGoal | number : '1.0-0'}} ({{this.DateToReachRepetitionGoal | date:'dd-MM-yyyy'}})</td>

    </tr>
    <tr>
      <td>Time</td>
      <td>{{this.getTimeSpanFromLong(this.model?.timeGoal)}}</td>
      <td>{{this.getTimeSpanFromLong(this.model?.timeGoalDone)}}</td>
      <td [ngStyle]="{'background-color': this.timePercentageColor}">{{this?.timePercentage | number}}%</td>
      <td [ngStyle]="{'background-color': this.avgTimePercentageColor}">{{this.getTimeSpanFromLong(this?.avgTimePercentage)}}</td>
      <td>{{this.getTimeSpanFromLong(this?.avgTimeNeeded)}}</td>
      <td>{{this.getTimeSpanFromLong(this?.timeGoalToDate)}}</td>
      <td>{{this.daysToReachTimeGoal | number : '1.0-0'}} ({{this.DateToReachTimeGoal | date:'dd-MM-yyyy'}})</td>
    </tr>
  </table>
  <br />

  <div>
    <div style="width: 40%; float:left">


      <table>
        <tr>
          <th>day of week</th>
          <th>time sum</th>
          <th>entries ammount</th>
          <th>avg time</th>
          <th>min time</th>
          <th>max time</th>
        </tr>
        <tr *ngFor="let weekDay of this.weekDayStats">
          <td>{{this.getWeekDayName(weekDay.dayOfWeek)}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.timeSum)}}</td>
          <td>{{weekDay.entries}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.avgTime)}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.minTime)}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.maxTime)}}</td>
        </tr>
      </table>

    </div>

    <div style="width: 60%; float:right">
      <table>
        <tr>
          <th>month</th>
          <th>time sum</th>
          <th>entries ammount</th>
          <th>avg time</th>
          <th>min time</th>
          <th>max time</th>
        </tr>
        <tr *ngFor="let weekDay of this.monthDayStats">
          <td>{{this.getMonthName(weekDay.month-1)}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.timeSum)}}</td>
          <td>{{weekDay.entries}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.avgTime)}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.minTime)}}</td>
          <td>{{this.getTimeSpanFromLong(weekDay.maxTime)}}</td>
        </tr>
      </table>


    </div>

  </div>


          <br style="clear:both;"/>
  <br/>
          <table>
            <tr>
              <th>Date of entry</th>
              <th>Time of entry</th>
              <th>Number of<br /> repetitions</th>
              <th>Descriptions</th>
              <th></th>
            </tr>
            <tr *ngFor="let column of GoalEntries">
              <td>
                {{column.entryDate | date:'yyyy-MM-dd HH:mm'}}
              </td>
              <td>
                {{this.getTimeSpanFromLong(column.time)}}
              </td>
              <td>
                {{column.repetitionGoal}}
              </td>
              <td>
                {{column.description}}
              </td>
              <td>
                <button class="btn btn-default" (click)="getEditEntry(column)">Edit</button>
              </td>
            </tr>
          </table>

          <div>
            <ag-charts-angular [options]="data">
            </ag-charts-angular>
          </div>


          <div>
            <ag-charts-angular [options]="groupedData">
            </ag-charts-angular>
          </div>

          <div>
            <ag-charts-angular [options]="groupedDataYear">
            </ag-charts-angular>
          </div>
</div>
