
<button type="button" class="btn btn-default" (click)="getData()">show data</button>
<label for="getDaysLbl">Get data from: </label>
<input type="number" class="number-picker" id="getDaysId"
       [(ngModel)]="this.PastDays" name="PastDays" style="width: 60px;">
<label for="DaysLbl"> days</label>
<div *ngIf="this.model">
  <div>
    <p> Date span of goal: {{this.model?.startDate | date:'yyyy-MM-dd' }} - {{this.model?.endDate | date:'yyyy-MM-dd'}}</p>
  </div>
  <table>
    <tr>
      <th></th>
      <th>goal</th>
      <th>completed</th>
      <th>goal %</th>
      <th>avg</th>
      <th>avg needed</th>
      <th>% needed to be done<br /> to current date</th>
      <th># needed to be done<br /> to current date</th>
      <th>days to 100%</th>
    </tr>
    <tr>
      <td>Repetitions</td>
      <td>{{this.model?.repetitionGoal}}</td>
      <td>{{this.model?.repetitionGoalDone}}</td>
      <td [ngStyle]="{'background-color': this.goalPercentageColor}">{{this?.goalPercentage | number}}%</td>
      <td [ngStyle]="{'background-color': this.repetitionPercentageColor}" >{{this.avgRepetitionsDone | number}}</td>
      <td>{{this.avgRepetitionNeeded | number}}</td>
      <td rowspan="2">{{this?.goalPercentageToDate | number}}%</td>

      <td>{{this.repetitionGoalToDate | number : '1.0-0'}}</td>
      <td>{{this.daysToReachRepetitionGoal | number : '1.0-0'}} ({{this.DateToReachRepetitionGoal | date:'dd-MM-yyyy'}})</td>

    </tr>
    <tr>
      <td>Time</td>
      <td>{{this.getTimeSpanFromLong(this.model?.time)}}</td>
      <td>{{this.getTimeSpanFromLong(this.model?.timeReached)}}</td>
      <td [ngStyle]="{'background-color': this.timePercentageColor}">{{this?.timePercentage | number}}%</td>
      <td [ngStyle]="{'background-color': this.avgTimeColor}">{{this.getTimeSpanFromLong(this?.avgTime)}}</td>
      <td>{{this.getTimeSpanFromLong(this?.avgTimeNeeded)}}</td>
      <td>{{this.getTimeSpanFromLong(this?.timeGoalToDate)}}</td>
      <td>{{this.daysToReachTimeGoal | number : '1.0-0'}} ({{this.DateToReachTimeGoal | date:'dd-MM-yyyy'}})</td>
    </tr>
  </table>
  <br />
  <table>
    <tr>
      <th>Date of entry</th>
      <th>Time of entry</th>
      <th>Number of<br /> repetitions</th>
      <th>Descriptions</th>
    </tr>
    <tr *ngFor="let column of GoalEntries">
      <td>
        {{column.entryDate | date:'yyyy-MM-dd HH:mm'}}
      </td>
      <td>
        {{this.getTimeSpanFromLong(column.time)}}
      </td>
      <td>
        {{column.repetitionGoal}}
      </td>
      <td>
        {{column.description}}
      </td>
    </tr>
  </table>

  <div>
    <ag-charts-angular [options]="options">
    </ag-charts-angular>
  </div>
</div>
