<div class="form-group">

  <div>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
           [(ngModel)]="this.Name" name="Name">

    <label for="description">description</label>
    <input type="text" class="form-control" id="description"
           [(ngModel)]="this.Description" name="description">

  </div>

  <div >
    <label for="deleted">Start date</label>
    <mat-form-field appearance="fill">
      <mat-label >Start date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="this.StartDate" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label for="deleted">End date</label>
    <mat-form-field appearance="fill">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker1" [formControl]="this.EndDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <label for="description">Number of repetition needed</label>
  <input type="number" class="number-picker-big" id="RepetitionGoal"
         [(ngModel)]="this.RepetitionGoal" name="RepetitionGoal">

  <app-time-span-picker (Time)="getTime($event)" [FieldName]="'Time to reach'"></app-time-span-picker>
  <div>
    <button type="button" class="btn btn-default" (click)="addData()">add data</button>
  </div>
  <hr />

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Categories</mat-label>
      <mat-select [formControl]="GoalListController" (selectionChange)="GoalListChange()">
        <mat-option *ngFor="let goal of GoalList" [value]="goal">{{goal.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <app-goal-entry [goalId]="this.goalId" ></app-goal-entry>
  <hr />
  <app-goal-details [goalId]="this.goalId" (editEntryEmiter) =getEditEntryData($event)></app-goal-details>




</div>
